/* General styles */
body {
  background-color: #c1edff; /* Light blue background */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  color: #164076;
  margin: 0;
  padding: 0;
}

h1 {
  color: #002366; /* Dark blue for the heading */
  margin-top: 20px;
}
p {
  margin: 0 20px;
}
#spiderweb {
  flex: 2;
  background: #e6f7ff; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-panel {
  flex: 1;
  padding: 20px;
  background: white;
  border-left: 2px solid #ccc;
  display: none; /* Initially hidden */
  overflow-y: auto;
}


#tooltip {
  position: absolute;
  background: white;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.9rem;
  pointer-events: none;
}
/* SVG container styles */
svg {
  display: block;
  margin: 0 auto;
  background-color: #eaf6ff; /* Optional: subtle background for the SVG */
  border: 1px solid #002366;
  border-radius: 10px;
}

/* Node styles */
.node {
  fill: steelblue; /* Default color for nodes */
  stroke: #002366; /* Dark blue stroke for nodes */
  stroke-width: 2px;
  cursor: pointer;
}

/* Text labels for nodes */
.node-label {
  font-size: 14px; /* Adjust the font size */
  fill: #002366; /* Dark blue for text */
  font-family: 'Montserrat', sans-serif; /* Same font as the rest of the page */
  pointer-events: none; /* Prevent text from capturing mouse events */
}

/* Link styles */
.link {
  stroke: #ccc;
  stroke-width: 1.5px;
  transition: stroke 0.2s, stroke-width 0.2s; 
}
.link:hover {
  stroke: #002366;  /* Dark blue on hover */
  stroke-width: 3px;  /* Increase thickness on hover */
}

.link.selected {
  stroke: #ff9900;
  stroke-width: 3px;
}

/* Default link label style */
.link-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  fill: #333;  /* Dark grey text color */
  pointer-events: none;  /* Prevent interaction with the text */
  opacity: 0;  /* Initially hide the link text */
  transition: opacity 0.2s;  /* Smooth fade-in transition */
}

/* Show the link label when hovering over the link */
.link:hover + .link-label {
  opacity: 1;  /* Make text visible on hover */
}

