/* General styles */
body {
  background-color: #c1edff; /* Light blue background */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  color: #164076;
  margin: 0;
  padding: 0;
}
hr {
  border: 0;
  border-top: 2px solid #002366; /* Dark blue horizontal rule */
  margin: 20px 0;
}
h1 {
  color: #002366; /* Dark blue for the heading */
  margin-top: 20px;
  font-family: 'Montserrat black', sans-serif;
  margin-left: 20px;
}
p {
  margin: 0 20px;
  font-size: 20px;
}
li{
  margin: 0 20px;
  font-size: 20px;
}
/* SVG container styles */
#spiderweb-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
  padding: 10px;
  margin: 0 auto;
  max-width: 100vh;
  box-sizing: border-box;
}
svg {
  display: block;
  margin: 0 auto;
  background-color: #eaf6ff; /* Optional: subtle background for the SVG */
  border: 1px solid #002366;
  border-radius: 10px;
  box-sizing: border-box;
}
#spiderweb {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0;
}

#info-panel {
  flex: 1;
  padding: 20px;
  background: rgb(255, 255, 255);
  border: 3px solid #002366; 
  display: none; /* Initially hidden */
  overflow-y: auto;
  height: 60%;
  max-height: 90vh;
  width: 40vw;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: absolute;
  right: 0;  
}
#close-info-panel {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #191660; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-info-panel:hover {
  background-color: #ff3333; /* Darker red on hover */
}

#tooltip {
  position: absolute;
  background: white;
  color: rgb(19, 34, 116);
  padding: 5px;
  border-radius: 3px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  display: none;
  z-index: 1000;
}

/* Node styles */
.node {
  fill: steelblue; /* Default color for nodes */
  stroke: #002366; /* Dark blue stroke for nodes */
  stroke-width: 1.75px;
  cursor: pointer;
}
.node.selected {
  fill: #ff9900; /* Change to a different color when selected */
  stroke: #a16305;
  stroke-width: 1.75px;
}
.node:hover {
  fill: #ff9900; /* Change to a different color when selected */
  stroke: #a16305;
  stroke-width: 1.75px;
}
/* Text labels for nodes */
.node-label {
  font-size: 20px; /* Adjust the font size */
  fill: #002366; /* Dark blue for text */
  font-family: 'Montserrat', sans-serif; /* Same font as the rest of the page */
  pointer-events: none; /* Prevent text from capturing mouse events */
  font-weight: bold;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  width: 100px;
}

/* Link styles */
.link {
  stroke: #cccccc;
  stroke-width: 4px;
  transition: stroke 0.2s, stroke-width 0.2s; 
}
.link:hover {
  stroke: #002366;  /* Dark blue on hover */
  stroke-width: 5px;  /* Increase thickness on hover */
  cursor: pointer;
}

.link.selected {
  stroke: #ff9900;
  stroke-width: 6px;
}

/* Default link label style */
.link-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  fill: #333;  /* Dark grey text color */
  pointer-events: none;  /* Prevent interaction with the text */
  opacity: 0;  /* Initially hide the link text */
  transition: opacity 0.2s;  /* Smooth fade-in transition */
}

/* Show the link label when hovering over the link */
.link:hover + .link-label {
  opacity: 1;  /* Make text visible on hover */
}
#controls {
  margin: 20px;
  text-align: center;
}

#controls button {
  margin: 5px;
  padding: 10px 10px;
  background-color: #646a6c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#controls button:hover {
  background-color: #ff3333; /* Darker red on hover */
}

/* Slider toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  vertical-align: middle;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #191660;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #763eab;
}

input:checked + .slider:before {
  transform: translateX(45px);
}

#toggle-label {
  margin-left: 10px;
  vertical-align: middle;
  font-weight: bold;
  font-size: larger;
}

nav {
  background-color: #002366;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; /* Make the navbar sticky at the top */
  top: 0;
  z-index: 1000;
}
nav .navbar {
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover {
  background-color: #0056b3;
  color: #eaf6ff; 
}
em{
  font-style: italic;
  font-size: larger;
  color: #b80000 !important; 
  font-weight: bold;
}